body {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    width: 500px;
    max-width: 100%;
    color: #0f172a;
}

#editor {
    margin-bottom: 1em;
    min-height: 80px;
    max-height: 300px;
    overflow: auto;
}

.dn-restaurant-notes__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dn-restaurant-notes__dnt {
    border: 0;
    outline: 0;
    background: none;
    color: #999;
    cursor: pointer;
}

.dn-restaurant-notes__save {
    align-self: flex-end;
    cursor: pointer;
}

.hidden {
    visibility: hidden;
}
