<!DOCTYPE html>
<html>
    <base href="/dist/" />

    <head>
        <title>Installed</title>
        <link rel="stylesheet" href="installed.css" />
    </head>

    <body>
        <header class="dn-restaurant-notes__header">
            <div class="container">
                <h1 data-i18n>Viel Spaß mit Delivery Notes!</h1>
            </div>
        </header>
        <main class="dn-restaurant-notes__main">
            <div class="container">
                <p data-i18n class="dn-restaurant-notes__text">
                    Leg los in dem du ein paar Notizen für deine
                    Lieblingswebsiten anlegst. Alle Daten bleiben komplett bei
                    dir. Es werden keine Daten davon an uns übertragen. Wir
                    erheben lediglich anonyme Nutzungsstatistiken die in keiner
                    Form mit dir in Verbindung gebracht werden können. Wenn du
                    dies nicht willst, kannst du das anonyme Tracking auch
                    jederzeit ausschalten.
                </p>
                <button data-i18n class="dn-restaurant-notes__toggle-tracking">
                    Anonymes Tracking deaktivieren
                </button>
            </div>
        </main>
        <script type="module" src="installed.js"></script>
    </body>
</html>
